.page-content {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.news-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 300px);
  gap: 50px;
}

@media (max-width: 2000px) {
  .news-grid {
    grid-template-columns: repeat(4, 300px);
  }
}

@media (max-width: 1600px) {
  .news-grid {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 1200px) {
  .news-grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 800px) {
  .news-grid {
    grid-template-columns: repeat(1, 300px);
  }
}

.news-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  border: 2px solid rgb(223, 222, 222);
  border-radius: 10px;
  margin: 10px;
}

.news-image {
  float: top;
}

.news-image img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.news-source {
  margin-top: 5px;
  margin-left: 10px;
}

.news-title {
  display: flex;
  height: 70px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
}

.news-content {
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}

.news-date {
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: 10px;
}