:root {
  --nav-background-color: rgb(42, 42, 70);
  --nav-hover-color: rgb(87, 87, 134);
  --nav-font-color: white;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: var(--nav-background-color);
}

.header-div {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.navbar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nav-font-color);
  text-decoration: none;
  font-size: x-large;
}

.navbar-menu {
  display: flex;
  margin-left: auto;
}

@media (max-width: 900px) {
  .menu-list {
    display: none;
  }

  .menu-button {
    display: block;
  }
}